@import url('https://fonts.googleapis.com/css2?family=Original+Surfer&display=swap');


*{
    padding: 0;
    margin: 0;
}
footer{
    background-color: black;
    color: blanchedalmond;
    height: 12vh;  
    justify-content: center;

}
header{
    height: 8vh;
    background-color: black;
    font-family: 'Original Surfer', cursive;
}
nav ul li a{
    text-decoration: none;
    text-transform: uppercase;
    font-size: small;
}
nav ul li a:hover{
    text-decoration: none;
    text-transform: uppercase;
    font-size: large;
    background-color: brown;
    font-style: bold;
    padding: 15px;
}
nav ul{
    display: flex;
    justify-content: flex-start;
    height: 8vh;
    align-items: center;
    list-style-type: none;
}
nav ul li {
    padding: 0 23px;
}
nav{
    display: flex;
    
}
.logo{
    display: flex;
    align-items: center;
}
.logo img{
    width: 100px;
}
.container{
        min-height: calc(100vh - 8vh - 12vh);
}
.text-bar{
    display: flex;
    align-items: center;
    
}
.text-bar input{
    height: 30px;
    width: 30vw;
    border-radius: 5px;
    margin-left: 50px;
    margin-right: 5px;
}
.btn{
    padding: 5px;
    border-radius: 5px;
    background-color: black;
    border-style: solid;
    border-color: bisque;
    color: wheat;
    font-family: 'Original Surfer', cursive;

}
.btn:hover{
   
    background-color: rgb(245, 244, 247);
    color: black;
    font-family: 'Original Surfer', cursive;
}
.slider{
    display: flex;
    overflow: hidden;
}
.card{
    margin: auto;
    max-width: 90vw;
    font-family: 'Original Surfer', cursive;
    text-transform: inherit;
   
}
.card h2{
    text-transform: uppercase;
    font-family: 'Original Surfer', cursive;
    border-style: solid;
    border-bottom: rgb(228, 225, 225);
}

