*{
    padding: 0;
    margin: 0;
}
@import url('https://fonts.googleapis.com/css2?family=Original+Surfer&display=swap');
.flex-all-text{
    justify-content: center;
    text-align: center;
    display: flex;
    font-family: 'Original Surfer', cursive;
}
.my-2{
    margin-top: 12px;
    margin-bottom: 12px;
}
.card-items{
    display: inline-flex;
    justify-content: center;
    flex-direction: column;
    margin-left: 20px;
    
}
.my-1{
    padding: 5px;
}
.cards{
    justify-content: center;

}
@media screen and (max-width:1000px) {
    nav{
        flex-direction: column;
        
    }
    .logo{
        justify-content: center;
        margin:12px 0;
    }
    header{
        height: 30vw;
    }
    nav ul{
        justify-content: center;
    }
    .text-bar{
        margin-top: 15px;
        justify-content: center;
    }
    .slider{
        width: 100%;
        border-radius: 2px;
    }
    li .home{
        position: sticky;
    }
    
}